name: Create release draft

on:
  push:
    branches: [ releases/* ]

jobs:
  create-release-draft:
    runs-on: windows-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v6

    - name: Run .NET Publish
      run: |
        dotnet publish -c Release -p:PublishProfile=x86
        dotnet publish -c Release -p:PublishProfile=x64

    - name: Package up results (x86)
      uses: vimtor/action-zip@v1.2
      with:
        files: TouhouLauncher\bin\publish\x86\
        dest: TouhouLauncher-x86.zip

    - name: Package up results (x64)
      uses: vimtor/action-zip@v1.2
      with:
        files: TouhouLauncher\bin\publish\x64\
        dest: TouhouLauncher-x64.zip

    - name: Create release draft
      uses: softprops/action-gh-release@v2.5
      with:
        draft: true
        files: |
          TouhouLauncher-x86.zip
          TouhouLauncher-x64.zip
